<h2>Adding a new post…</h2>
<p>
    <form action="/newPost" method=POST>

    <button type="submit" class="btn btn-primary">Submit</button>
    <br><br />
    <textarea name="post[postText]" class="form-control" rows="6" placeholder="type post text here"><%=@p.postText%></textarea>
    </form>
</p>
